.private {
  background-color: transparent;
  box-shadow: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.private:hover {
  text-shadow: 1px 0 #c0c7c1, 0 1px #c0c7c1, 1px 0 #c0c7c1, 0 1px #c0c7c1;
}