.screen__notes {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
  "header header"
  "navigation notes"
  "footer footer";
  grid-template-rows: 5rem auto 3rem;
  grid-template-columns: 10rem auto;
}

.notes__header {
  grid-area: header;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #487453;
  color: #EEF6EF;
}

.notes__navigation {
  grid-area: navigation;
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  color: #487453;
  background-color: #EEF6EF;
}

.note__localization {
  grid-area: footer;
  background-color: #487453;
  display: flex;
  flex-direction: row;
}

.note__localization button {
  color: #c0c7c1;
  font-weight: 500;
  background-color: transparent;
  box-shadow: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.note__localization .active {
  color: #EEF6EF;
}

.note__localization .active:hover {
  text-shadow: none;
}

.logout {
  background-color: transparent;
  box-shadow: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.logout {
  width: 3rem;
  height: 3rem;
  background-image: url('../../assets/log-out.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.logout:hover {
  box-shadow: -1px 0 #EEF6EF, 0 1px #EEF6EF, 1px 0 #EEF6EF, 0 -1px #EEF6EF;
}

.favorite {
  margin-left: 0.313rem;
}

.public,
.favorite,
.private,
.change-password {
  padding: 0.313rem 0;
  text-decoration: none;
  font-weight: 700;
  color: #487453;
  transition: all 0.2s ease-in-out;
}

.public:hover,
.favorite:hover,
.private:hover,
.change-password:hover,
.note__localization button:hover {
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}

.private.active,
.public.active,
.favorite.active,
.change-password.active,
.private.active:hover,
.public.active:hover,
.change-password.acitve:hover {
  text-shadow: 1px 0 #c0c7c1, 0 1px #c0c7c1, 1px 0 #c0c7c1, 0 1px #c0c7c1;
}