.notes__wrapper {
  grid-area: notes;
  padding: 1.125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 0.625rem;
}

.add {
  width: 18rem;
  height: 13rem;
  background-image: url('../../assets/plus-square.svg');
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;
  box-shadow: none;
}

.add:hover {
  background-color: #c0c7c1;
}

@media (max-width: 524.99px) {
  .add {
    width: 13rem;
  }

  .screen__notes {
    grid-template-columns: 8rem auto;
  }
}

@media (max-width: 374.99px) {
  .add {
    width: 11rem;
  }

  .screen__notes {
    grid-template-columns: 7rem auto;
  }

  .notes__wrapper {
    padding: 0.625rem;
  }
}